@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "sidebar header header"
    "sidebar form form"
    "sidebar form form";
    grid-template-rows: 1.8fr 3fr 2fr;
}

.sidebar {
    grid-area: sidebar;
    background-image: url("./assets/images-icons/beach.jpg");
    background-size: cover;
    background-position: center;
}

.site-name {
    color: white;
    font-size: 1.5rem;
    font-family: 'Fredericka the Great', sans-serif;
    text-align: center;
}

.site-name-container {
    background-color: rgba(104, 103, 106, 0.6); ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem  1rem;
    position: relative;
    top: 30%;
}

.header {
    grid-area: header;
    display: grid;
    padding: 3rem;
    background-color: #c1c2c2;
}

.header h1 {
    font-size: 1.5rem;
}

.form {
    grid-area: form;
    display: grid;
    grid-template-areas:
    "action"
    "form";
    grid-template-rows: 1fr 5fr;
}

.action-msg {
    grid-area: action;
    font-size: 1.5rem;
    padding-left: 3rem;
}

.form-grid {
    grid-area: form;
    display: grid;
    grid-template: 1fr 1fr 1fr 1.5fr 2.5fr / 1fr 1fr 1fr;
    grid-template-areas:
    "fname lname ..."
    "email phone ..."
    "password c-password ..."
    "... ... ..."
    "account account account";
}


.form-grid > div {
    padding-left: 3rem;
}

.item-fname {
    grid-area: fname;
}
.item-lname {
    grid-area: lname;
}
.item-email {
    grid-area: email;
}
.item-phone {
    grid-area: phone;
}
.item-password {
    grid-area: password;
}
.item-c-password {
    grid-area: c-password;
}
.account {
    grid-area: account;
}

input {
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 1.5rem;
    width: 100%;
}

.form-grid .account {
    grid-area: account;
    padding: 30px 3rem;
    background-color: #c1c2c2;
    margin: 0 0;
}

button, .link-back {
    background-color: #81bde8;
    color: black;
    border: none;
    padding: 8px 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

/* Thank You Page */
.thanks-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.thanks-grid div {
    text-align: center;
}

/* Mobile */
@media screen and (max-width: 800px) {

    .grid-container {
        grid-template-areas: 
        "sidebar"
        "header"
        "form";
        grid-template-rows: 1.8fr 3fr 2fr;
        grid-template-columns: 1fr;
    }

    .sidebar {
        height: 30vh;
    }

    .header {
        padding: 2rem;
    }

    .header h1 {
        font-size: 1.2rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .action-msg {
        padding-left: 0;
        text-align: center;
    }

    .form-grid {
        display: flex;
        flex-direction: column;
    }

    .form-grid > div {
        margin:10px;
        padding: 0 1rem;
    }

    .form-grid .account {
        text-align: center;
        margin-top: 1.5rem;
    }
}